<html>
    <head>
        <title>Vlasov's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Vlasov's Blog</a> </h1>
        </div>

        <div>
            <p>published: 20.11.2017, 21:05</p>
            <h2><a href="">Мой первый пост</a> </h2>
            <p>Такие дела</p>
        </div>

        <div>
            <p>published: 20.11.2017, 21:14</p>
            <h2><a href="">Мой второй пост</a> </h2>
            <p>Все это очень интересно</p>
        </div>
    </body>
</html>
